<h1>Players</h1>

<% @players.each do |player| %>
  <div class="ui card">
    <div class="content">
      <div class="header"><%= "#{player.first_name} #{player.last_name}" %></div>
      <div class="meta"></div>
      <div class="description">
        <p>Position: <%= player.position %></p>
        <p>Points: <%= player.pts %></p>
      </div>
    </div>
  </div>
<% end %>