<h1>Players</h1>

<% @players.each do |player| %>
  <p>First Name: <%= player.first_name %></p>
  <p>Last Name: <%= player.last_name %></p>
  <p>Position: <%= player.position %></p>
  <p>Points:<%= player.pts %></p>
<% end %>