/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "semantic-ui";

body{
  background: url('https://images.adsttc.com/media/images/5b7c/c034/f197/cc6e/f200/034d/slideshow/090705_SHoP_Barclays_Center_pho_Bruce_Damonte_48.jpg?1534902317');
  background-size: 100% ;
  background-color: #4e5157;
  background-blend-mode: screen;

}

.navbar{
  display:flex;
  margin: 20px;
}
#Logo{
  font-size: 1.8rem;
  margin-right: 100px;
  
}
.menu{
  display:flex;
  margin-top: 30px;
}
.item{
  padding-left: 50px;
  margin-left: 50px;
  text-decoration: none;
  color: silver;
  font-size: 1.3rem;
}
.item:hover{
  color:crimson;
  font-weight: 500px;
}


.home-view{
  text-align: center;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  font-size: 2.9rem;
  color: silver;
  margin-top: 200px;
}
.home-view:hover{
  color:crimson;

}








